<div class="row">
  <div class="text-center">
    <%= link_to "Add New Category", new_category_path, :class => "btn-custom2" %>
  </div>


  <% @categories.each do |categorie| %>
       <h1><%= categorie.name %></h1>
      <div class="links btn-group">
        <%= link_to "Edit", edit_category_path(categorie.id), :class => "btn-custom" %>
      <%= link_to "Delete", category_path(categorie.id), method: :delete, data: { confirm: "Are you sure?" }, :class => "btn-custom" %>

<% end %>

</div>
</div>